<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<body class="container"></body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>

<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">

            <h1><b><%= locals.tagline %></b></h1>
            <ol>
                
                <% if (hero_name) { %>

                    <% hero_name.results.forEach(function(identity) { %>

                        <li style="font-family:Garamond;">
                            <%= identity.biography["full-name"] %>
                            <img src= "<%= identity.image.url %>" width = "20%" height = "20%" alt="">
                        </li>

                    <% }) %>
                   
                <% }; %>
                
            </ol>
        </div>
    </div>
</div>

</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>